---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #FFF;
$brand-color:      #3DC371;
$brand-text-color: #FFF;
$brand-other-color: #F57F1F;
$footer-background-color: #F7F7F7;
$header-background-color: #473F2E;
$list-text-color:  #666;
$line-color:       #E9E9E9;

$text-width:       650px;
$font-size:        1.8em;




$on-palm:          640px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin dynamic-width() {
    width: $text-width;
    @include media-query($on-palm) {
        width: 90%;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;
