---
layout: about
title: Jobba hos Rebel & Bird
---

<section class="position" id="careersintro">
    {{ site.data.content.hiring-aboutus | textilize }}

    {% if site.data.content.hiring-aboutus-list %}
        <ul class="weare">
        {% for item in site.data.content.hiring-aboutus-list %}
            <li><span>{{ item }}</span></li>
        {% endfor %}
        </ul>
    {% endif %}
</section>

<a class="button" href="#positions" id="openpositions">{{ site.data.content.openpositions }}</a>

<section class="instagram">
    <div class="sectiontitle">{{ site.data.content.instagram }}</div>

    <script type="text/javascript" src="/js/instafeed.min.js"></script>
    <script type="text/javascript">
        var feed = new Instafeed({
            get: 'user',
            userId: 1532149134,
            accessToken: '1532149134.467ede5.e227603b8a0e49c9a3344c5e61520534',
            links: true,
            limit: 12,
            mock: true,
            success: function(result) {
                var html = [];
                var len = result.data.length;

                html.push('<div class="instacol">');
                for (var i = 0; i < len; i++) {
                    html.push(
                        '<a href="' + result.data[i].link + '"><img src="' + result.data[i].images.thumbnail.url + '" title="' + result.data[i].caption.text + '"></a>'
                    );

                    if ((i + 1) % 2 == 0) {
                        html.push('</div>');
                        if (i < len - 1) {
                            html.push('<div class="instacol">');
                        }
                    }
                }

                var feed = document.getElementById("instafeed");
                feed.insertAdjacentHTML("beforeend", html.join(""));
            }
        });
        feed.run();
    </script>

    <div id="instacontainer">
        <div id="instafeed"></div>
    </div>

</section>

<h2 class="sectiontitle">{{ site.data.content.openpositions }}</h2>

<section id="positions" style="display: block">
    <ul id="positionlist">
    {% for position in site.data.positions %}
        {% if position.hidden == false %}
            <li data-position="#{{ position.slug }}"><a href="#{{ position.slug }}">{{ position.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

    {% for position in site.data.positions %}
        {% if position.hidden == false %}
        <div class="position" id="{{ position.slug }}">
            <h2>{{ position.title }}</h2>
            {{ position.description | textilize }}

            <div class="title">{{ site.data.content.requirements-title }}</div>
            <ul class="requirements">
            {% for requirement in position.requirements %}
                <li><span class="requirement">{{ requirement }}</span></li>
            {% endfor %}
            </ul>
            <div class="submit">
                {% if position.url %}
                    <a class="button track" href="{{ position.url }}" id="{{ position.slug }}-link">{{ site.data.content.applynow }}</a>
                    <div class="uptrail">{{ site.data.content.uptrailpromo }}</div>
                {% else %}
                    <a class="button track" href="mailto:{{ site.data.content.jobsemail }}?subject={{ position.title | cgi_escape }}">{{ site.data.content.applynow }} - {{ site.data.content.jobsemail }}</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</section>
