---
layout: default
---

<section class="news" style="display: none;">
    <ul>
      {% for post in site.posts limit:3 %}
        <li>
            <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a><br>
            <span class="excerpt">{{ post.excerpt }}</span>
        </li>
      {% endfor %}
    </ul>

    <a href="/news" class="allarticles">All articles</a>
</section>

{% if site.data.content.hiring %}
<section class="hiring">
    <h2>{{ site.data.content.hiring }}</h2>
    <a class="button" href="/careers">{{ site.data.content.hiring-button }}</a>
</section>
{% endif %}

<section class="wedo">
    <h3 class="title">{{ site.data.content.offer-title }}</h3>

    <ul class="gridlist">
      {% for section in site.data.content.offer %}
      <li>
        <img src="/images/{{ section.image }}" alt="{{ section.title }}">
        <h2>{{ section.title }}</h2>
        <ul class="list">
        {% for item in section.list %}
          <li>{{ item }}</li>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
</section>

<section class="message">
    <h2>{{ site.data.content.message }}</h2>
</section>

{% include clients.html %}
