---
layout: default
---

{% if site.data.content.hiring %}
<section class="hiring">
    <p>{{ site.data.content.hiring }}</p>
    <button>Open positions</button>
</section>
{% endif %}

<section class="wedo">
    <div class="title">We do</div>

    <ul>
      {% for section in site.data.content.offer %}
      <li>
        <img src="images/{{ section.image }}">
        <h2>{{ section.title }}</h2>
        <ul class="list">
        {% for item in section.list %}
          <li>{{ item }}</li>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
</section>

<section class="message">
    <p>{{ site.data.content.message }}</p>
</section>

{% include clients.html %}
