<footer>
    <ul class="gridlist">
        <li><a href="mailto:{{ site.data.content.email }}">{{ site.data.content.email }}</a></li>
        <li><a href="http://maps.google.com/?daddr={{ site.data.content.adress | cgi_escape }}">{{ site.data.content.adress }}</a></li>
        <li><a href="tel:{{ site.data.content.phone | replace: ' ', '' }}">{{ site.data.content.phone }}</a></li>
    </ul>
</footer>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
<script type="text/javascript" src="/js/rebel.js"></script>
<script>
  // Mixpanel
  mixpanel.track('Page Viewed', {
      'page name' : document.title,
      'url' : window.location.pathname
  });

  mixpanel.track_links(".track", "Outgoing Link", function(element) {
    var data = {
      'page name': document.title,
      'page url': window.location.pathname,
      'link': element.getAttribute("href")
    };

    return data;
  });
</script>