body {
    text-align: center;

    font-family: 'Benton Sans','Open Sans', sans-serif;
}

section {
    @extend %clearfix;

    padding: 60px 50px;
    @include media-query($on-palm) {
        padding: 50px 15px;
    }

    > ul {
        list-style-type: none;
        margin-left: 0;

        > li {
            float: left;
        }
    }
}

header {
    background-color: $header-background-color;
    background-image: url(/images/herobkg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    color: $brand-text-color;
    height: 760px;
    overflow: hidden;

    #headerlayer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    h1 {
        font-family: 'Benton Sans Light', sans-serif;
        font-size: $font-size;
        margin: 0;
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: $line-color;
        margin: 30px auto;
        opacity: 0.2;
    }

    #logobox {
        position: relative;
        top: 250px;
        margin: 0 auto;
        @include dynamic-width();
    }

    #logo {
        width: 250px;
    }
}

footer {
    background-color: $footer-background-color;
    color: $list-text-color;
    margin-top: 40px;
    @extend section;

    > ul {
        > li {
            width: 33%;

            @include media-query($on-palm) {
                width: 100%;
                margin: 10px 0;
            }
        }
    }

    a,
    a:visited {
        color: $list-text-color;
    }
}

.hiring {
    font-family: 'Benton Sans Light', sans-serif;
    background-color: $brand-color;
    color: $brand-text-color;
    font-size: $font-size;

    p {
        margin: 0 auto;
        @include dynamic-width();
    }

    button {
        font-family: 'Benton Sans', sans-serif;
        border: 1px solid $line-color;
        background-color: $brand-color;
        color: $brand-text-color;
        padding: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 20px;
        font-size: 0.5em;
        cursor: pointer;

        &:focus {
            background-color: $brand-text-color;
            color: $brand-color;
        }
    }
}

#positions {
    display: none;
    text-align: left;
    @include dynamic-width();
    margin: 0 auto;
    position: relative;

    h2 {
        text-align: center;
        font-weight: bold;
        font-size: 1.8em;
        margin: 20px 0 40px 0;
    }

    #closepositions {
        right: 50px;
        top: 80px;
        width: 40px;
        height: 40px;
        position: absolute;
        cursor: pointer;
    }

    #positionlist {
        > li {
            float: none;
            text-align: center;
            margin: 20px 0;
            text-transform: uppercase;
            a {
                color: $brand-other-color;
            }
        }
        margin-bottom: 40px;
    }

    .position {
        font-size: 1.1em;
        &:last-child:after,
        &:before {
            display: block;

            height: 1px;
            background-color: $line-color;
            margin: 60px auto;
            content: "";
        }
    }

    .requirements {
        margin-left: 25px;
        > li {
            float: none;
            list-style-type: circle;
            color: $brand-other-color;
            .requirement {
                color: $text-color;
            }
        }
    }

    .submit {
        text-align: center;
        margin: 50px 0;
        button {
            font-family: 'Benton Sans', sans-serif;
            border: 1px solid $brand-other-color;
            background-color: $background-color;
            color: $brand-other-color;
            padding: 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            font-size: 0.7em;
        }
    }
}

.wedo {
    h2 {
        font-family: 'Benton Sans Light', sans-serif;
        font-size: $font-size;
    }

    > ul {
        max-width: $text-width + 100;
        margin: 0 auto;
        > li {
            width: 50%;
            margin-top: 50px;

            @include media-query($on-palm) {
                width: 100%;
            }

            img {
                width: 100px;
            }
        }
    }

    .list {
        > li {
            font-size: 1.1em;
            color: $list-text-color;
        }
    }

    .title {
        margin-bottom: 10px;
    }
}

.message {
    padding-bottom: 30px;

    p {
        margin: 60px auto;
        font-family: 'Benton Sans Light', sans-serif;
        font-size: $font-size;
        @include dynamic-width();
    }

    &:after,
    &:before {
        display: block;
        width: 80%;
        height: 1px;
        background-color: $line-color;
        margin: 0 auto;
        content: " ";
    }
}

.clients {
    > ul {
        margin: 60px 0;
        > li {
            width: 33%;
            margin: 30px 0;

            @include media-query($on-palm) {
                width: 50%;
            }
        }
    }

    .title {
        margin-top: 0px;
    }
}

.title {
    text-transform: uppercase;
    margin: $spacing-unit 0;
    letter-spacing: 1px;
    font-size: 0.8em;
}

#headerlayer {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-animation: thefade 1.5s ease;
    -moz-animation: thefade 1.5s ease;
    animation: thefade 1.5s ease;
}

#logobox {
    -webkit-animation: thefade 1s ease;
    -moz-animation: thefade 1s ease;
    animation: thefade 1s ease;
}

@-webkit-keyframes thefade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes thefade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes thefade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
