body {
    text-align: center;

    font-family: 'Benton Sans','Open Sans', sans-serif;
}

section {
    @extend %clearfix;

    padding: 60px 50px;
    @include media-query($on-palm) {
        padding: 50px 15px;
    }

    .gridlist {
        list-style-type: none;
        margin-left: 0;

        > li {
            float: left;
        }
    }
}

header {
    background-color: $header-background-color;
    color: $brand-text-color;

    .about & {
        background-image: url(/images/herobkg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
    }

    h1 {
        font-family: 'Benton Sans Light', sans-serif;
        margin: 0;
        font-size: $font-size-post;
        @include media-query($on-palm) {
            font-size: $font-size-post-palm;
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: $line-color;
        margin: 10px auto;
        opacity: 0.2;
    }

    #logobox {
        top: 30px;
        margin: 0 auto;
        padding: 60px 0;
        @include dynamic-width();

        .about & {
            padding: 150px 0;
            text-shadow: 1px 1px 5px #222;
        }
    }


    #logo {
        width: 250px;
    }

    #printlogo {
        @extend #logo;
        display: none;
    }
}

footer {
    background-color: $footer-background-color;
    color: $list-text-color;
    margin-top: 40px;

    .post & {
        margin-top: 0;
    }

    @extend section;

    > ul {
        > li {
            width: 33%;

            @include media-query($on-palm) {
                width: 100%;
                margin: 10px 0;
            }
        }
    }

    a,
    a:visited {
        color: $list-text-color;
    }
}

.news {
    font-family: 'Benton Sans Light', sans-serif;
    font-size: $font-size;
    @include dynamic-width();
    margin: 0 auto;
    width: 750px;
    text-align: left;

    > ul {
        > li {
            margin: 10px 0 20px 0;
            float: none;
        }
    }

    a,
    a:visited {
        color: $brand-other-color;
    }

    .excerpt,
    .date,
    .allarticles {
        font-size: 0.7em;
    }
}

.hiring {
    font-family: 'Benton Sans Light', sans-serif;
    background-color: $brand-color;
    color: $brand-text-color;
    font-size: $font-size;

    h2 {
        margin: 0 auto;
        @include dynamic-width();
        font-size: 28px;
    }
}

.hiring,
.about {
    .button {
        font-family: 'Benton Sans', sans-serif;
        border: 1px solid $line-color;
        background-color: $brand-color;
        color: $brand-text-color;
        padding: 15px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 14px;
        cursor: pointer;
        display: inline-block;
        margin: 20px auto 0 auto;

        &:focus {
            background-color: $brand-text-color;
            color: $brand-color;
        }
    }
}


.position {
    font-size: 1.1em;
    text-align: left;

    &:last-child:after,
    &:before {
        display: block;

        height: 1px;
        background-color: $line-color;
        margin: 60px auto;
        content: "";
    }

    h2 {
        text-align: center;
        font-weight: bold;
        font-size: 1.8em;
        margin: 20px 0 40px 0;
    }

    .uptrail {
        color: $list-text-color;
        margin: 10px 0;
        font-size: 0.7em;
    }
}

#careersintro {
    max-width: 650px;
    margin: 0 auto;

    &:before {
        display: none;
    }
}

#positions {
    display: none;

    @include dynamic-width();
    margin: 0 auto;
    position: relative;

    #closepositions {
        right: 50px;
        top: 80px;
        width: 40px;
        height: 40px;
        position: absolute;
        cursor: pointer;

        @include media-query($on-palm) {
            right: 20px;
            top: 20px;
        }
    }

    #positionlist {
        > li {
            float: none;
            text-align: center;
            margin: 20px 0;
            text-transform: uppercase;
            a {
                color: $brand-other-color;
            }
        }
        margin-bottom: 40px;
    }

    .requirements {
        margin-left: 25px;
        > li {
            float: none;
            list-style-type: circle;
            color: $brand-other-color;
            .requirement {
                color: $text-color;
            }
        }
    }

    .submit {
        text-align: center;
        margin: 50px 0;

        .button {
            font-family: 'Benton Sans', sans-serif;
            border: 1px solid $brand-other-color;
            background-color: $background-color;
            color: $brand-other-color;
            padding: 15px;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 1px;
            cursor: pointer;
            font-size: 0.7em;
            display: inline-block;
        }
    }
}

.wedo {
    h2 {
        font-family: 'Benton Sans Light', sans-serif;
        font-size: $font-size;
    }

    > ul {
        max-width: $text-width + 100;
        margin: 0 auto;
        > li {
            width: 50%;
            margin-top: 50px;

            @include media-query($on-palm) {
                width: 100%;
            }

            img {
                width: 100px;
            }
        }
    }

    .list {
        > li {
            font-size: 1.1em;
            color: $list-text-color;
        }
    }

    .title {
        margin-bottom: 10px;
    }
}

.message {
    padding: 30px 0;
    background-color: $brand-color;
    color: $brand-text-color;

    h2 {
        margin: 60px auto;
        font-family: 'Benton Sans Light', sans-serif;
        font-size: $font-size;
        @include dynamic-width();
    }
}

.clients {
    > ul {
        margin: 60px 0;
        > li {
            width: 33%;
            margin: 30px 0;

            @include media-query($on-palm) {
                width: 50%;
            }
        }
    }

    h3 {
        margin-top: 0px;
    }
}

.postbody {
    @include dynamic-width();
    margin: 0 auto;
    width: 650px;
    text-align: left;

    h1 {
        font-family: 'Benton Sans Light', sans-serif;
        font-size: $font-size;
        @include dynamic-width();
    }

    p {
        font-family: 'Benton Sans Light', sans-serif;
        line-height: 1.7;
    }

    text-align: left;
}

.title {
    text-transform: uppercase;
    margin: $spacing-unit 0;
    letter-spacing: 1px;
    font-size: 0.8em;
}

#logobox {
    -webkit-animation: thefade 1s ease;
    -moz-animation: thefade 1s ease;
    animation: thefade 1s ease;
}

@-webkit-keyframes thefade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes thefade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes thefade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.sectiontitle {
    font-family: 'Benton Sans Light', sans-serif;
    font-size: 28px;
}

.instagram {
    margin: 50px 0;
    text-align: center;
    background-color: $brand-color;

    .sectiontitle {
        color: #fff;
        margin-bottom: 20px;

        a {
            text-decoration: underline;
            color: #fff;

        }
    }

    #instacontainer {
        margin-bottom: 20px;
        overflow: hidden;
    }
}

#instafeed {
    margin: 0 auto;
    display: inline-block;
    min-width: 1020px;
    overflow: hidden;

    @include media-query($on-palm) {
        min-width: inherit;
        text-align: center;
    }

    @extend %clearfix;

    .instacol {
        float: left;
        width: 154px;
        margin: 0 8px;

        img {
            margin: 8px 0;
            border: 2px solid #fff;
        }

        &:before {
            content: ' ';
            width: 100%;
            display: block;
        }

        &:nth-child(1):before {
            height: 40px;
        }

        &:nth-child(2):before {
            height: 20px;
        }

        &:nth-child(3):before {
            height: 0px;
        }

        &:nth-child(4):before {
            height: 20px;
        }

        &:nth-child(5):before {
            height: 40px;
        }

        &:nth-child(6):before {
            height: 20px;
        }

        @include media-query($on-palm) {
            display: none;
            float: none;
            margin: 0 auto;

            &:before {
                display: none;
            }

            &:nth-child(1) {
                display: block;
            }

            &:nth-child(2) {
                display: block;
            }
        }
    }
}

.about {
    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 1.8em;
        margin: 80px 0 0px 0;
    }

}