---
layout: post
---

<h1>Working at Rebel & Bird</h1>

<script type="text/javascript" src="/js/instafeed.min.js"></script>
<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: 1532149134,
        accessToken: '1532149134.467ede5.e227603b8a0e49c9a3344c5e61520534',
        links: true,
        limit: 8
    });
    feed.run();
</script>

<h2>Who we are</h2>

{{ site.data.content.hiring-aboutus | textilize }}

<div id="instafeed"></div>

<h2>Mission</h2>

<p>Be the leader of growth hacking!</p>

<h2>Perks</h2>

<ul>
    <li>Konkurrenskraftig lön</li>
    <li>Riktigt bra tjänstepension</li>
    <li>Grymt kompetensutvecklingsbidrag</li>
    <li>Topp olycklsfall/sjukdom/livföräkringspaket</li>
    <li>Privat vårdförsäkring</li>
    <li>Betald dator och telefon med abonnemang</li>
</ul>

<h2>Who we are looking for</h2>

<ul>
    <li>P - <span class="pandafirst">P</span>assionate</li>
    <li>A - <span class="pandafirst">A</span>mbitious</li>
    <li>N - <span class="pandafirst">N</span>ative digital</li>
    <li>D - <span class="pandafirst">D</span>ecent human being</li>
    <li>A - <span class="pandafirst">A</span>ll around</li>
    <li>S - <span class="pandafirst">S</span>alesmanship</li>
</ul>

<h2>Open positions</h2>

<section id="positions" style="display: block">
    <ul id="positionlist">
    {% for position in site.data.positions %}
        {% if position.hidden == false %}
            <li data-position="#{{ position.slug }}"><a href="#{{ position.slug }}">{{ position.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>

    {% for position in site.data.positions %}
        {% if position.hidden == false %}
        <div class="position" id="{{ position.slug }}">
            <h2>{{ position.title }}</h2>
            {{ position.description | textilize }}

            <div class="title">{{ site.data.content.requirements-title }}</div>
            <ul class="requirements">
            {% for requirement in position.requirements %}
                <li><span class="requirement">{{ requirement }}</span></li>
            {% endfor %}
            </ul>
            <div class="submit">
                {% if position.url %}
                    <a class="button" href="{{ position.url }}">Apply now</a>
                    <div class="uptrail">We're using Uptrail - apply in just 30 seconds, even on mobile!</div>
                {% else %}
                    <a class="button" href="mailto:{{ site.data.content.jobsemail }}?subject={{ position.title | cgi_escape }}">Apply now - {{ site.data.content.jobsemail }}</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
</section>